body {
    margin: 0px;
    background: linear-gradient(-45deg, #f10ad5, #f76aa1, #5c9d8e, #acefdf);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100%;
    font-family: "Lucida Console", "Courier New", monospace;
    color: #d5d5d5;
}

a {
    text-decoration: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.rotating {
    animation: rotation 2s infinite linear;
}

.material {
    border: none;
    border-radius: 7px;
    padding: 7px;
    background-color: rgba(127,127,127,0.25);
    color: #ffffff;
    width: 30%;
    margin: 5px;
}

button.modalButton {
    position: fixed;
    cursor: pointer;
    z-index: 99;
    top: 20px;
    right: 20px;
    padding: 20px;
    font-size: 1.25em;
    background-color: rgba(0, 0, 0, 0.45);
    box-shadow: 5px 5px 10px -5px #000000;
    color: #ffffff;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    transition: 0.05s;
}

button.modalButton:active {
    transform: translate(5px, 5px);
    box-shadow: 0px 0px 0px 0px #000000;
}

.modal {
    display: none;
    position: fixed;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    width: 80%;
    max-height: 93vh;
    overflow: auto;
}

.modal .close {
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 1em;
    border-radius: 7px;
    background-color: rgba(245, 89, 67, 0.7);
    cursor: pointer;

}

.apiContainer {
    padding: 5px;
    border-bottom: 2px solid rgba(256, 256, 256, 0.5);
}

.apiContainer button {
    right: 20px;
    padding: 13px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background: rgba(127,127,127,0.5);
    color: #ffffff;
}

p.response {
    padding: 7px;
    width: auto;
    background-color: rgba(127,127,127,0.25);
}

.profileDisplay {
    text-align: center;
    width: 50%;
    height: 40%;
    margin: 5% auto 3% auto;
}

.profileDisplay > img {
    margin: 0 auto;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.links img {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    transition: 0.25s;
}

.links img:hover {
    transform: rotate(15deg);
}

.biography {
    line-height: 1.25em;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 2.5%;
    padding: 20px;
    border-radius: 10px;
}

.projects, .exp {
    display: inline;
}

.comments {
    color: #a3a3a3;
    background-color: rgba(75 75 75 / 25%);
    padding: 0.75em;
    margin: 0.75em;
    border-radius: 7px;
    font-size: 0.9em;
}

.comments a{
    text-decoration: underline;
    color: #ffffff;
}

.title {
    text-align: center;
    text-shadow: 3px 2px 4px #000000
}

.project h3, .exp h3 {
    width: 45%;
}

.projects > div, .exp > div {
    position: relative;
    line-height: 1.25em;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px 20px;
    width: 41.5%;
    margin: 1% 2.5%;
    border-radius: 10px;
    display: inline-grid;
}

.projects > div > img.icon, .exp > div > img.icon {
    border-radius: 10px;
    position: absolute;
    height: 5em;
    top: 5px;
    right: 5px;
}

.projects > div > img.example, .exp > div > img.example {
    border-radius: 10px;
    margin: 1% 12.5%;
    width: 75%;
}

.projects img, .exp img {
    transition: 0.25s;
}

.projects img:hover, .exp img:hover {
    transform: scale(1.33);
}

.footer {
    margin: 2%;
    text-align: center;
}

@media screen and (max-width: 1295px) {
    body{
        font-size: 1.75em;
    }

    .projects > div, .exp > div {
        width: 90%;
    }
}

/** Animations */

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}